* {
  margin: 0px;
  padding: 0px;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

#main-wrapper {
  margin-top: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mainTittle {
  margin-bottom: 1em;
}

#category {
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 1em;
  border: 1px solid gray;
  font-size: large;
}

button {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: large;
  margin-left: 3em;
}

#table {
  margin-top: 2em;
}

#table th {
  padding: 10px 10px 10px 0px;
  font-size: larger;
}
td {
  text-align: center;
  padding-right: 1em;
  font-size: large;
}
.delete {
  text-decoration: none;
  color: red;
}

.edit {
  text-decoration: none;
  color: green;
}

.display-none {
  display: none;
}
